$max-width: 100%;
$gutter: 20px;

$color-blue: #5085e8;

$background-blue: rgb(60, 90, 153);
////////////////////////////////
$background-gray1: #f6f6f9;
$background-message-blue: #E3EFFF;
$background-red: #e86250;
$background-white: #ffffff;
//
$border-color: #ebebeb;
//
$font-family1: "Raleway", sans-serif;
$font-family2: "Montserrat", sans-serif;
//
$font-size: 16px;
$font-size-small: 14px;
$font-size-large: 20px;
$font-size-menu: 18px;
//
$line-height: 24px;
//
$color-white: #ffffff;
$color-white-opacity: #ffffff80;
$color-black: #454545;
$color-gray: #45454580;
$color-light-gray: rgba(70, 70, 70, 0.5);
//
$icon-blue: #5085e8;
$icon-gray: #D3D8E0;
//
$gutter50: 50px;
$gutter40: 40px;
$gutter30: 30px;
$gutter20: 20px;
$gutter10: 10px;
//
$border-radius: 10px;