header.Header
	.container
		a(href='index.html')
			img.logo(src='img/logo.png')
		nav.Header-menu
			h3 Menu
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-news')
				a(href='index.html') News
				svg.icon.icon-right
					use(xlink:href='#icon-3doth')
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-message')
				a(href='messages.html') Messages
				p.notification 8
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-friends')
				a(href='friends.html') Friends
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-music')
				a(href='music.html') Music
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-communities')
				a(href='#') Communities
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-events')
				a(href='#') Events
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-pages')
				a(href='#') Pages
			.Header-menu-item
				svg.icon
					use(xlink:href='#icon-manageApps')
				a(href='#') Manage Apps
		.Header-shortcuts
			h3 Shortcuts
			.Header-shortcuts-item
				svg.icon.icon-google
					use(xlink:href='#icon-google')
				a(href='#') Google Inc.
			.Header-shortcuts-item
				svg.icon.icon-ycombinator
					use(xlink:href='#icon-ycombinator')
				a(href='#') Y Combinator
			.Header-shortcuts-item
				svg.icon.icon-amazon
					use(xlink:href='#icon-amazon')
				a(href='#') Amazon
