html
	head
		meta(charset='UTF-8')
		title Freebie
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='main.css')
	body
		include icons

		main.Main
			include header
			block content
			include sub-header

		script(src='js/main.js ')