section.Sub-Header
	.container
		.profile
			a(href='profile.html')
				img(src='img/profile.jpg' alt='')
			.title
				p.name
					a(href='profile.html') Faruk İpek
				p.description It's Not Impossible
		.icons
			button(onclick='myFunction1()' type='button')
				svg.icon.icon-notification
					use(xlink:href='#icon-notification')
			#notification-area.notification
				p Notification
				.list
					.item
						.photo
							img(src='img/profile-13.png')
							.icon-box
								svg.icon.icon-like
									use(xlink:href='#icon-like')
						.details
							p.description
								| Your friend Daniella Smith like your post «Seven rules of good IT company»
							p.time
								| 2 hours ago
					.item
						.photo
							img(src='img/profile-11.png')
							.icon-box
								svg.icon.icon-like
									use(xlink:href='#icon-like')
						.details
							p.description
								| Tesla also released a video showing the Cybertruck towing a Ford F-150 pickup
							p.time
								| 5 hours ago
					.item
						.photo
							img(src='img/profile-10.png')
							.icon-box
								svg.icon.icon-like
									use(xlink:href='#icon-like')
						.details
							p.description Lego’s post has been retweeted more than 21,000 times.
							p.time
								| 7 hours ago
					.item
						.photo
							img(src='img/profile-9.png')
							.icon-box
								svg.icon.icon-like
									use(xlink:href='#icon-like')
						.details
							p.description Toy company Lego tweeted on Wednesday: “The evolution of the truck is here.
							p.time
								| 1 day ago
					.item
						.photo
							img(src='img/profile-8.png')
							.icon-box
								svg.icon.icon-like
									use(xlink:href='#icon-like')
						.details
							p.description
								| Production of the Cybertruck begins in 2021 and Musk has claimed on Twitter to
								| have had 250,000 pre-orders.
							p.time
								| 2 day ago
			button(onclick='myFunction2()' type='button')
				svg.icon.icon-music
					use(xlink:href='#icon-music')
			#music-area.music
				.full
					.left
						p Music
						.menu
							p.active Daily playlist
							p My music
							p Radio
							p Playlist
							p Friends
						input(type='text' placeholder='Search for song, artist or an album')
						.list
							.item.active
								img(src='img/profile-13.png' alt='')
								.title
									p.name Lose yourself
									p.artist Eminem
								.time 3:51
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon.icon-plus
									use(xlink:href='#icon-plus')
							.item
								img(src='img/profile-6.png' alt='')
								.title
									p.name Ride It
									p.artist Regard
								.time 4:27
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon.icon-plus
									use(xlink:href='#icon-plus')
							.item
								img(src='img/profile-9.png' alt='')
								.title
									p.name Thunderlike
									p.artist Kate Linn
								.time 3:46
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon.icon-plus
									use(xlink:href='#icon-plus')
							.item
								img(src='img/profile-12.png' alt='')
								.title
									p.name One Day
									p.artist Asaf Avidan
								.time 3:39
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon.icon-plus
									use(xlink:href='#icon-plus')
			svg.icon.icon-settings
				use(xlink:href='#icon-settings')
			svg.icon.icon-search
				use(xlink:href='#icon-search')
			svg.icon.icon-message
				use(xlink:href='#icon-message')
		.Sub-Header-right
