extends global/master
block content
	section.Section
		.container
			.section-menu
				a.active(href='index.html') Posts
				a(href='#') Photos
				a(href='#') Video
				a(href='#') Communities
				a(href='#') Favourites
				a(href='#') Recommendations
			.friend-list
				.item
					img(src='img/friends-photo-1.jpg' alt='')
					.profile
						p.name Calvin Carroll
						p.job Works at SpaceX
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-2.jpg' alt='')
					.profile
						p.name Frederick Moody
						p.job Moscow, Russia
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-3.jpg' alt='')
					.profile
						p.name Caroline Cooper
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-4.jpg' alt='')
					.profile
						p.name Willie Quinn
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-5.jpg' alt='')
					.profile
						p.name Birdie Hayes
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-6.jpg' alt='')
					.profile
						p.name Emma Perry
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-7.jpeg' alt='')
					.profile
						p.name Lester Rodgers
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-8.jpg' alt='')
					.profile
						p.name Eddie Hogan
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-9.jpg' alt='')
					.profile
						p.name Steven Meyer
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-10.jpg' alt='')
					.profile
						p.name Olive Hoffman
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-11.jpg' alt='')
					.profile
						p.name Adele Stanley
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-12.jpg' alt='')
					.profile
						p.name Glenn Frazier
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-13.jpg' alt='')
					.profile
						p.name Mike Schmidt
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-14.jpg' alt='')
					.profile
						p.name Wesley Silva
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-15.jpg' alt='')
					.profile
						p.name Jose Walker
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-16.jpg' alt='')
					.profile
						p.name Jorge Franklin
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-17.jpg' alt='')
					.profile
						p.name Willie Hall
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
				.item
					img(src='img/friends-photo-18.jpg' alt='')
					.profile
						p.name Adele Norton
						p.job Google
					svg.icon.icon-dotsv
						use(xlink:href='#icon-dotsv')
