extends global/master
block content
	section.Section.Section-music
		.container
			.music
				.left
					.menu
						p Music
						p Podcast
						p Audiobooks
						.icons
							svg.icon
							use(xlink:href='#icon-search')
							svg.icon
							use(xlink:href='#icon-edit')
					.banner
						.item
							img(src='img/music-banner-1.png')
							p.title Daily Playlist
							p.details 60 tracks for you
						.item
							img(src='img/music-banner-2.png')
							p.title Radio
							p.details Based on your tastes
						.item
							img(src='img/music-banner-3.png')
							p.title My Playlist
							p.details 859 tracks in 7 playlists
					p.section-title Spotlights
					.spotlights
						.item
							img(src='img/music-banner-4.png')
							p.title Kamikaze
							p.details New album from Eminem
						.item
							img(src='img/music-banner-5.png')
							p.title Mania
							p.details Fall Out Boy album
					p.section-title Week Chart
					.week-chart-list
						.item
							img(src='img/music-1.png')
							.profile
								p.track Island int the sun
								p.artist-name Weezer
							.music-right
								p 3:20
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
								.icons
									svg.icon
									use(xlink:href='#icon-like')
									p 15k
								.icons
									svg.icon
									use(xlink:href='#icon-music')
									p 4m
						.item
							img(src='img/music-2.png')
							.profile
								p.track Lose yourself
								p.artist-name Eminem
							.music-right
								p 3:47
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
								.icons
									svg.icon
									use(xlink:href='#icon-like')
									p 158k
								.icons
									svg.icon
									use(xlink:href='#icon-music')
									p 5m
						.item
							img(src='img/music-3.png')
							.profile
								p.track Battle Symphony
								p.artist-name Linkin Park
							.music-right
								p 3:17
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
								.icons
									svg.icon
									use(xlink:href='#icon-like')
									p 652k
								.icons
									svg.icon
									use(xlink:href='#icon-music')
									p 4m
						.item
							img(src='img/music-4.png')
							.profile
								p.track Hall of Fame
								p.artist-name The Script
							.music-right
								p 4:37
								svg.icon.icon-play
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
								.icons
									svg.icon
									use(xlink:href='#icon-like')
									p 124k
								.icons
									svg.icon
									use(xlink:href='#icon-music')
									p 3m
					p.section-title Artists you may like
					.banner
						.item
							img(src='img/music-banner-6.png')
							p.title Jay Z
							p.details Rapper
						.item
							img(src='img/music-banner-7.png')
							p.title Imagine Dragons
							p.details Band
						.item
							img(src='img/music-banner-8.png')
							p.title Linkin Park
							p.details Rock band
				.right
					.playing-now
						p Playing Now
						svg.icon
							use(xlink:href='#icon-plus')
					.list
						.item
							img(src='img/music-1.png')
							.profile
								p.track Island int the sun
								p.artist-name Weezer
							.music-right
								p 3:20
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-2.png')
							.profile
								p.track Wake
								p.artist-name Tritia
							.music-right
								p 3:47
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-3.png')
							.profile
								p.track Battle Symphony
								p.artist-name Linkin Park
							.music-right
								p 3:257
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-4.png')
							.profile
								p.track A Thousand Years
								p.artist-name Christina Perry
							.music-right
								p 4:45
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-5.png')
							.profile
								p.track Hall of Fame
								p.artist-name The Script
							.music-right
								p 3:23
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-3.png')
							.profile
								p.track Hall of Fame
								p.artist-name The Script
							.music-right
								p 3:23
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-2.png')
							.profile
								p.track Hall of Fame
								p.artist-name The Script
							.music-right
								p 3:23
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
						.item
							img(src='img/music-1.png')
							.profile
								p.track Hall of Fame
								p.artist-name The Script
							.music-right
								p 3:23
								svg.icon
									use(xlink:href='#icon-play')
								svg.icon
									use(xlink:href='#icon-plus')
