extends global/master
block content
	section.Section
		.container
			.headerim
				img(src='img/profile.jpg')
				.profile
					p Faruk İpek
					p.description
					| Merhaba ✋ Ben Faruk,
					| Freelance front-end developer olarak Konya'da yaşıyorum.
					| 2013 yılında ilk adımlarımı attığım bu sektörde, şu an freelance front-end developer olarak çalışıyorum.
				.icon-box
					svg.icon.icon-message
						use(xlink:href='#icon-message')
			.Section-menu.profile-menu
				a(href='profile.html') Chronicle
				a(href='profile-information.html') Information
				a(href='#') Friends
				a.active(href='profile-photos.html') Photos
				a(href='#') More
			.Section
				.mainim
					.information
						.menu
							p.active Albums
							p Photos with Faruk
							p Albums
					.profile-gallery
						.item
							img(src='img/post-1.jpg')
							img(src='img/post-2.jpg')
							img(src='img/post-3.jpg')
							img(src='img/post-4.jpg')
							img(src='img/post-5.jpg')
							img(src='img/post-6.jpg')
							img(src='img/post-7.jpg')
							img(src='img/post-8.jpg')
							img(src='img/post-9.jpg')
							img(src='img/post-10.jpg')
							img(src='img/post-11.jpg')
							img(src='img/post-12.jpg')
							img(src='img/post-13.jpg')
							img(src='img/post-14.jpg')
							img(src='img/post-15.jpg')
							img(src='img/post-16.jpg')
							img(src='img/post-17.jpg')
							img(src='img/post-18.jpg')
